

<div class="panel-content">
    <div class="main-title-sec">
        <div class="row">
            <div class="col-md-3 column">
                <div class="heading-profile">
                    <h2>Bot Name</h2>
                    <!--<span>Welcome back, John</span>-->
                </div>
            </div>
            <!--<div class="col-md-9 column">
                <div class="top-bar-chart">
                    <div class="bar-chart-details">
                        <p>New User</p>
                        <h5>17,561</h5>
                    </div>
                    <span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,3,4</span>
                </div>
                <div class="top-bar-chart">
                    <div class="bar-chart-details">
                        <p>My Balance</p>
                        <h5>$21,561.01</h5>
                    </div>
                    <span id="my-balance" class="sparkline">4,3,6,3,8,6,4,3,3,4</span>
                </div>
                <div class="quick-btn-title">
                    <a href="javascript:void(0)" title=""><i class="fa fa-plus"></i> New Tasks</a>
                    <a href="javascript:void(0)" title=""><i class="fa fa-cloud-upload"></i> Upload Files</a>
                </div>
            </div>-->
            <div class="col-md-9 column">
                <span class="chat-icon" ><i class="fa fa-comments-o fa-3x"></i></span>
            </div>
        </div>
    </div><!-- Heading Sec -->
    <ul class="breadcrumbs">
        <li><a href="#/home" title="">Home</a></li>
        <li><a href="#/dashboard" title="">Dashboard</a></li>
        <li><a href="javascript:void(0)" title="">Publish & Train</a></li>
    </ul>


    <h1>from Publish and Train Page</h1>

    <img class="img-responsive" src="public/src/images/publish.PNG">
    <img class="img-responsive" src="public/src/images/publish.PNG">
    <img class="img-responsive" src="public/src/images/publish.PNG"><img src="public/src/images/publish.PNG">
    <img class="img-responsive" src="public/src/images/publish.PNG">
</div>
